.wrapper {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-section);
}
.container {
  margin-left: 50px;
  margin-right: 50px;
  padding: 35px 15px;
  border-bottom: 1px solid rgba(47, 5, 126, 0.4);
}

.btn__back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 5px 20px;
  width: 100px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 10px;

  color: blanchedalmond;
  color: rgb(253, 251, 251);

  background-color: #8399fd;
  background: linear-gradient(#727bf8, #343a74);

  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;

  cursor: pointer;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__back:hover {
  color: rgb(255, 89, 0);
}

.card__container {
  display: flex;
  justify-content: flex-start;
  gap: 35px;
}

.card__img {
  margin-top: 20px;

  box-shadow: 8px 6px 5px 2px rgba(0, 0, 0, 0.3);

  border-radius: 10px;
}

.card__detaile {
  display: block;
}

.box__title {
  margin-bottom: 20px;
  display: flex;
  justify-content: baseline;
  gap: 40px;
  border-bottom: 1px solid rgba(47, 5, 126, 0.4);
}
.card__title {
  padding: 20px 0 0 0;
  margin-bottom: 25px;
  color: var(--text-title);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
}

.text__title {
  margin-top: 30px;
  color: var(--text-activ);
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.text__detaile {
  font-weight: 400;
  font-size: 17px;
  color: var(--text-color);
}

.card__list {
  margin-top: 30px;
  list-style: outside;
}

.card__item {
  margin-left: 30px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 17px;
  color: var(--text-color);
}

.container__info {
  margin-left: 50px;
  margin-right: 50px;
  padding: 25px 15px;
}

.info__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.card__title__info {
  padding: 20px 0 0 0;
  margin-bottom: 25px;
  text-align: center;
  color: var(--text-title);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
}

.active {
  margin-top: 30px;
  color: var(--text-activ);
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.navLink {
  margin-top: 30px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
