.container {
  display: block;
}

.author__list {
  margin-top: 20px;
}

.author__item {
  padding-top: 20px;
  border-bottom: 1px solid rgba(47, 5, 126, 0.4);
}

.author__name {
  margin-top: 15px;
  color: var(--text-activ);
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.author__content {
  margin-top: 15px;
  font-weight: 400;
  font-size: 17px;
  color: var(--text-color);
}

.text__data {
  margin-top: 15px;
  font-size: 12px;
  color: var(--text-color);
}

.non__reviews {
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  color: var(--text-color);
}
